[user]
	name = Holger Hartmann
	email = holger.hartmann@bepartners.pro
[core]
	excludesfile = /Users/holger.hartmann/.gitignore_global
	editor = vim
[pager]
	log = diffr | less
				show = diffr | less
				diff = diffr | less
[commit]
	template = /Users/holger.hartmann/.stCommitMsg
[alias]
  ci = commit
  co = checkout
  st = status
  # Display tree-like log, because default log is a pain…
  lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
